body{
    background-color: lightgrey;
    font-family: sans-serif;
}
div{ 
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h1 {
    display: block;
    font-size: 35px;
    font-weight: bold;
}
a:link, a:visited {
    color:navy blue;
    text-decoration: none;
}